@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Handjet&family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap");

/*Make the footer stick to the bottom of the page and the header to the top */
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  position: static;
  top: 0;
  z-index: 10;
}
footer {
  position: static;
  bottom: 0;
  z-index: 10;
}

/* Hover effect for our images : */
.container img {
  height: 200px;
}
.container img:hover,
.container img:focus,
.container img:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Hover effect for our paragraphs : */

.text:hover::before,
.text:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 570px;
  height: 200px;
  background: #c3bfbf;
  border-radius: 25px;
  z-index: -1;
  animation: 3s clockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

/* Sign up and log in modal : */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-container img {
  max-width: 100px;
  margin-bottom: 10px;
}

.action-container {
  text-align: center;
  margin-bottom: 20px;
}

.action-text {
  margin-bottom: 10px;
}
.modal-form-content {
  width: 100%;
}
.modal-body {
  width: 100%;
}
