@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Handjet&family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap");

/*Make the footer stick to the bottom of the page and the header to the top */
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  position: static;
  top: 0;
  z-index: 10;
}
footer {
  position: static;
  bottom: 0;
  z-index: 10;
}


