@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Handjet&family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap");

/*Make the footer stick to the bottom of the page and the header to the top */
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  position: static;
  top: 0;
  z-index: 10;
}
footer {
  position: static;
  bottom: 0;
  z-index: 10;
}

/*Caroussel style : */

#carouselExampleIndicators {
  width: 50%;  /* adjust to your needs */
  height: 80%; /* adjust to your needs */
  margin: 0 auto; /* this will center the carousel if it has a specified width */
}

#carouselExampleIndicators .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Items cards style : */
#itemImg {
  height: 300px;
  width: 250px;
}


.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Styling for the text container */
.text-center.mt-5.mb-5 {
  padding-top: 50px;
}

.text-center.mt-5.mb-5 h2 {
  color: rgba(133, 41, 16, 0.755); 
  letter-spacing: 25px; 
  word-spacing: 60px;  
  font-weight: bold;   
  text-transform: uppercase;
  overflow-wrap: break-word; /* Ensures text wraps if it cannot fit the screen width */
  max-width: 100%; 
  margin-bottom: 20px;
}

.text-center.mt-5.mb-5 p {
  color: #7F8C8D;  
  font-size: 1.1em; 
  letter-spacing: 3px; 
}
