@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Handjet&family=Roboto:wght@100&family=Ubuntu:wght@500&display=swap");

/*Make the footer stick to the bottom of the page */
body {
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}
.custom-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}
footer {
  margin-top: auto; /* pushes the footer down to the bottom of the body */
  width: 100%;
}

/*Homepage img : */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home_icon {
  width: 400px;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/*Cards style :*/
.card:hover,
.card:focus,
.card:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Landing part style :*/

.landing-page-section {
  background-color: white;
}

#countdown {
  font-size: 2rem;
  margin-bottom: 15px;
}

#countdown span {
  background-color: rgba(133, 41, 16, 0.755);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.custom-video {
  height: 330px;
  border: 3px solid rgba(133, 41, 16, 0.755);
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

/* Sign up form : */
.modal-header .logo {
  max-width: 50px;
  margin-right: 10px;
}

.modal-body .modal-form-content {
  width: 100%;
}

.modal-footer {
  flex-wrap: nowrap;
}
